name = "gestionale-agricolo-api"
main = "src/index.ts"
compatibility_date = "2024-01-01"

[vars]
ENVIRONMENT = "production"

[[d1_databases]]
binding = "DB"
database_name = "gestionale-agricolo"
database_id = "2a23f341-6138-4e00-b8b7-478a116870f9"
